#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    
}

#trafficTop {
    height: 100px;
    width: 30px;
    background-color: black;
}

#container {
     height: auto;
    width: 120px;
    background-color: black;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.red-light {
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

.yellow-light {
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

.green-light {
    border-radius: 100%;
    width: 100px;
    height: 100px;
}
